<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Victoria Hotel</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/dist/pickmeup.min.js"></script>
  <script type="text/javascript" src="../static/dist/handleCounter.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/pickmeup.css">
  <link rel="stylesheet" type="text/css" href="../static/handle-counter.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script type="text/javascript" src="../static/dist/jquery.scrollUp.js"></script>
   <script type="text/javascript" src="../static/dist/demo.js"></script>

    
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="../static/images/Victoria.png" alt="Majestic Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
                <ul>
                    <li class="tm-list"><form class="tm-list" action="/home" method="GET">
                      <input type="submit" value="Home">
                      </form>
                  </li>
                  <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                  <li class="tm-list"><form class="tm-list" action="/rooms" method="GET">
                      <input type="submit" value="Rooms">
                      </form>
                  </li>
                  <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                  <li class="tm-list"><form class="tm-list" action="/home" method="GET">
                      <input type="submit" value="Explore">
                      </form>
                  </li>
                  </ul> 
            </ul>    
            </div>
        </nav>
    </header>
    
    
    <section class="tm-main">
           <p>Billing</p>
    </section>
    
    
    
    <section class="tm-booking">
      <center>
      <div class="container">
        <form class="grid" action="/Billing" method="GET">
            <table width="70%">
                <tr>
                    <td><label  for="Book_no" id="inlinelable">Booking no</label></td>
                    <td><input type="text" id="Book_id" name="Book_id" value={{Book_id}}></td>
                </tr>
                <tr>
                    <td><label for="date1">Arrival date</label></td>
                    <td><input type="text" id="arr" name="arr" value={{arr}}></td>
                </tr>
                <tr>
                    <td> <label  for="rooms" id="inlinelable">Room type</label></td>
                    <td><input type="text" id = "room_type" name="room_type" value = {{room_type}}></td>
                </tr>
                <tr>
                    <td><label for="rate">room rate</label></td>  
                    <td><input type="text" id ="rate" name="rate" value={{rate}}></td>
                </tr>
                <tr>
                    <td><label  for="gst" id="inlinelable">Gst</label></td>
                    <td><input type="text" id="gst" name="gst" value={{gst}}></td>
                </tr>
                <tr>
                    <td><label  for="total" id="inlinelable">Total</label></td>
                    <td><input type="text" id="total" name="total" value={{total}}></td>
                </tr>
            </table>
            </form>
              </div>
              <div class="container">
                
            <form class="grid" action="/Generate_Bill" method="POST">
                <table width="70%">
                    <tr>
                        <td><label  for="payment" id="inlinelable">Payment mode</label></td>
                        <td><input type="text" id="payment" name="payment"></td>
                    </tr>
                </table>
             <input type="submit" id="sub" value="Print Bill">
                </form>
      </div>
      </center>
  </section>
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>We are a part of chain of luxury hotels 
            which extends all over the world. We 
            provide a luxorious stay with various value
            added and free services which will make
            you visit us over and over again.</p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>415, Park Avenu, Hawai
            Phone : (211) 9275693451
            Email : Victoria@info.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="../static/images/fb.png"></a>
        <a href="#"> <img src="../static/images/G.png"> </a>
        <a href="#"> <img src="../static/images/twittr.png"> </a>
        <a href="#">  <img src="../static/images/insta.png"> </a>
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>
    