<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/home.css"> 




	</head>
	
	<body>

        <form class="grid" action="/result" method="POST">

            <center>
              <h3 style="color: blue;" class="let_space">Sorry no such booking exists </h3>
              <h3 style="color: cyan;" class="let_space">Please check the Booking number and customer id once again</h3>
            </center>
  
        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>