<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Victoria Hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/dist/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="../static/dist/demo.js"></script>
    
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="../static/images/Victoria.png" alt="Majestic Hotel">
        
    </header>
    
    <section class="tm-makeres">
        <div class="tm-res">
            <nav class="tm-nav">
                <div>
                     <ul>
                         <ul>
                             <li class="tm-list"><form class="tm-list" action="/register" method="GET">
                                <input class="file_submit" type="Submit" value="Register and Book">
                            </form>
                           </li>
                           <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                           <li class="tm-list"><form class="tm-list" action="/rooms" method="GET">
                               <input type="submit" value="Rooms">
                               </form>
                           </li>
                           <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                           <li class="tm-list"><form class="tm-list" action="/confirm" method="GET">
                            <input class="file_submit" type="Submit" value="Booking">
                               </form>
                           </li>
                           </ul> 
                     </ul>    
                     </div>
                 </nav>
           
            </div>
    </section>
        
    
    <section class="tm-main">
           <p>Explore</p>
    </section>
    
    
    <section class="tm-expsection">
        
        <div class="tm-exp1">
            
        <p> Luxorious and Spacious Rooms</p>  
     <img src="../static/images/luxorius.png">
 
  </div>  
    </section>
    
    
       <section class="tm-expsection">
        
        <div class="tm-exp2">
            
        <p> Inhouse Spa</p>  
     <img src="../static/images/spahouse.png" >
 
  </div>  
    </section>
    
    
     <section class="tm-expsection">
        
        <div class="tm-exp1">
            
        <p> Swimming Pools</p>  
     <img src="../static/images/swimming.png">
 
  </div>  
    </section>
    
    
       <section class="tm-expsection">
        
        <div class="tm-exp2">
            
        <p> Indoor  Game Room</p>  
     <img src="../static/images/play.png" >
 
  </div>  
    </section>
    
    
    
    
    
    

    

    
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>We are a part of chain of luxury hotels 
            which extends all over the world. We 
            provide a luxorious stay with various value
            added and free services which will make
            you visit us over and over again.</p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>415, Park Avenu, Hawai
            Phone : (211) 9275693451
            Email : Victoria@info.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="../static/images/fb.png"></a>
        <a href="#"> <img src="../static/images/G.png"> </a>
        <a href="#"> <img src="../static/images/twittr.png"> </a>
        <a href="#">  <img src="../static/images/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>