<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Victoria Hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/dist/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="../static/dist/demo.js"></script>
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="../static/images/Victoria.png" alt="Victoria Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
                <li class="tm-list"><form class="tm-list" action="/home" method="GET">
                    <input type="submit" value="Home">
                    </form>
                </li>
                <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                <li class="tm-list"><form class="tm-list" action="/rooms" method="GET">
                    <input type="submit" value="Rooms">
                    </form>
                </li>
                <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                <li class="tm-list"><form class="tm-list" action="/home" method="GET">
                    <input type="submit" value="Explore">
                    </form>
                </li>
                <li><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3></li>
                  <li class="tm-list"><form class="tm-list" action="/Billing" method="GET">
                      <input type="submit" value="Billing">
                      </form>
                  </li>
            </ul>    
            </div>
        </nav>
    </header>
    
    
    <section class="tm-main">
           <p>Rooms</p>
    </section>
    
    
      <section class="tm-roomsection">
                    <div class="tm-room1">
                        <div class="tm-trans"> <div><p>2 Bed</p><p>Complimentary lunch + dinner</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 2500</p> </div></div>
                        
                        
                        <img class="tm-roomimage" src="../static/images/luxury.png">
                     <p class="s">Luxury Suite</p>

                    </div>
                        <div class="tm-room1">
                            <div class="tm-trans"> <div><p>2 Bed</p><p>Luxorious interior</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 3000</p> </div></div>
                    
                            
                        <img class="tm-roomimage" src="../static/images/delux.png">
                            <p>Delux Suite</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>2 Bed</p><p>Scenic View</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 4000</p> </div></div>
                        
                            
                        <img class="tm-roomimage" src="../static/images/premier.png">
                             <p>Premier Suite</p>

                    </div>
    </section>
    <br/>
     <section class="tm-roomsection">
                    <div class="tm-room1">
                        
                        <div class="tm-trans"> <div><p>2 Bed</p><p>Free wifi</p><p>Fresh towels</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 1000</p> </div></div>
                        
                        
                        <img class="tm-roomimage" src="../static/images/luxuryroom.png">
                     <p class="s">Double Bed Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>2 Bed</p><p>Fresh towels</p><p>Less costly</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 1500</p> </div></div>
                        
                            
                        <img class="tm-roomimage" src="../static/images/deluxroom.png">
                            <p>Delux Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>1 Bed</p><p>Fresh towels</p><p>Less costly</p> </div>
                        
                        <div><p>Only for</p><p class="bold">$ 500</p> </div></div>
                        
                            
                        <img class="tm-roomimage" src="../static/images/premiumroom.png">
                             <p>Single Bed room</p>

                    </div>
    </section>
       <br/>
    
    
    
     <section class="tm-makeres">
    <div class="tm-res">
       <div class="tm-resbutton">
        <form action="/register" method="GET">
            <center><input class="file_submit" type="Submit" value="Register and Book"></center>
        </form>
        <form action="/confirm" method="GET">
            <center><input class="file_submit" type="Submit" value="Booking"></center>
        </form>
        </div>
        </div>
    </section>
    
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>We are a part of chain of luxury hotels 
            which extends all over the world. We 
            provide a luxorious stay with various value
            added and free services which will make
            you visit us over and over again.</p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>415, Park Avenu, Hawai
            Phone : (211) 9275693451
            Email : Victoria@info.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="../static/images/fb.png"></a>
        <a href="#"> <img src="../static/images/G.png"> </a>
        <a href="#"> <img src="../static/images/twittr.png"> </a>
        <a href="#">  <img src="../static/images/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>
    